<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs\server-log.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd-MM-yyyy HH:mm:ss.fff} [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingFileAppender" />
		</root>
	</log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	

		<appSettings>
			<add key="SmtpHost" value="smtp.gmail.com" />
			<add key="SmtpPort" value="587" />
			<add key="SmtpUser" value="" />
			<add key="SmtpPass" value="" />
		</appSettings>
	
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Services.Services.AccountManager">
        <endpoint address="AccountManager" binding="netTcpBinding" contract="Services.Contracts.IAccountManager" />
			<host>
              <baseAddresses>
                <add baseAddress="http://localhost:8090" />
                <add baseAddress="net.tcp://localhost:8091" />
              </baseAddresses>
            </host>
      </service>
		
		<service name="Services.Services.LoginManager">
			<endpoint address="LoginManager" binding="netTcpBinding" contract="Services.Contracts.ILoginManager" />
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:8092" />
					<add baseAddress="net.tcp://localhost:8093" />
				</baseAddresses>
			</host>
		</service>

		<service name="Services.Services.VerificationCodeManager">
			<endpoint address="VerificationCodeManager" binding="netTcpBinding" contract="Services.Contracts.IAccountVerificationManager" />
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:8094" />
					<add baseAddress="net.tcp://localhost:8095" />
				</baseAddresses>
			</host>
		</service>

		<service name="Services.Services.ProfileManager">
			<endpoint address="ProfileManager" binding="netTcpBinding" contract="Services.Contracts.IProfileManager" />
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:8096" />
					<add baseAddress="net.tcp://localhost:8097" />
				</baseAddresses>
			</host>
		</service>

		<service name="Services.Services.PasswordResetManager">
			<endpoint address="PasswordResetManager" binding="netTcpBinding" contract="Services.Contracts.IPasswordResetManager" />
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:8098" />
					<add baseAddress="net.tcp://localhost:8099" />
				</baseAddresses>
			</host>
		</service>
		
		<service name="Services.Services.WaitingRoomManager">
			<endpoint address="WaitingRoomManager" binding="netTcpBinding" contract="Services.Contracts.IWaitingRoomManager" />
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:8100" />
					<add baseAddress="net.tcp://localhost:8101" />
				</baseAddresses>
			</host>
		</service>

		<service name="Services.Services.TopPlayersManager">
			<endpoint address="TopPlayersManager" binding="netTcpBinding" contract="Services.Contracts.ITopPlayersManager" />
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:8102" />
					<add baseAddress="net.tcp://localhost:8103" />
				</baseAddresses>
			</host>
		</service>
    </services>
	  
  </system.serviceModel>


  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>