<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<services>
			<service name="Services.Services.AccountManager">
				<endpoint address="AccountManager"
						  binding="netTcpBinding"
						  contract="Services.Contracts.IAccountManager" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8090/PasswordLis"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>