<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PASSWORD_LIS_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="TCPageURL" value="https://www.uv.mx/legislacion/files/2017/07/Codigo-de-etica-de-la-Universidad-Veracruzana.pdf" />
	</appSettings>
    <userSettings>
        <PASSWORD_LIS_Client.Properties.Settings>
            <setting name="languageCode" serializeAs="String">
                <value>en-US</value>
            </setting>
        </PASSWORD_LIS_Client.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ILoginManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAccountManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAccountVerificationManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPasswordResetManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IProfileManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ITopPlayersManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IWaitingRoomManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IFriendsManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8097/ProfileManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IProfileManager" contract="ProfileManagerServiceReference.IProfileManager"
                name="NetTcpBinding_IProfileManager">
                <identity>
                    <userPrincipalName value="LAPTOP-LF36UFJ4\artcu" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8093/LoginManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILoginManager" contract="LoginManagerServiceReference.ILoginManager"
                name="NetTcpBinding_ILoginManager">
                <identity>
                    <userPrincipalName value="LAPTOP-LF36UFJ4\artcu" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8091/AccountManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IAccountManager" contract="AccountManagerServiceReference.IAccountManager"
                name="NetTcpBinding_IAccountManager">
                <identity>
                    <userPrincipalName value="LAPTOP-LF36UFJ4\artcu" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8099/PasswordResetManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPasswordResetManager"
                contract="PasswordResetManagerServiceReference.IPasswordResetManager"
                name="NetTcpBinding_IPasswordResetManager">
                <identity>
                    <userPrincipalName value="LAPTOP-LF36UFJ4\artcu" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8103/TopPlayersManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITopPlayersManager"
                contract="TopPlayersManagerServiceReference.ITopPlayersManager"
                name="NetTcpBinding_ITopPlayersManager">
                <identity>
                    <userPrincipalName value="LAPTOP-LF36UFJ4\artcu" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8105/FriendsManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFriendsManager" contract="FriendsManagerServiceReference.IFriendsManager"
                name="NetTcpBinding_IFriendsManager">
                <identity>
                    <userPrincipalName value="LAPTOP-LF36UFJ4\artcu" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8095/VerificationCodeManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountVerificationManager"
                contract="VerificationCodeManagerServiceReference.IAccountVerificationManager"
                name="NetTcpBinding_IAccountVerificationManager">
                <identity>
                    <userPrincipalName value="LAPTOP-LF36UFJ4\artcu" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8101/WaitingRoomManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWaitingRoomManager"
                contract="WaitingRoomManagerServiceReference.IWaitingRoomManager"
                name="NetTcpBinding_IWaitingRoomManager">
                <identity>
                    <userPrincipalName value="LAPTOP-LF36UFJ4\artcu" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>