<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PASSWORD_LIS_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PASSWORD_LIS_Client.Properties.Settings>
            <setting name="languageCode" serializeAs="String">
                <value>en-US</value>
            </setting>
        </PASSWORD_LIS_Client.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ILoginManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAccountManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAccountVerificationManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8093/LoginManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILoginManager" contract="LoginManagerServiceReference.ILoginManager"
                name="NetTcpBinding_ILoginManager">
                <identity>
                    <userPrincipalName value="LAPTOP-LF36UFJ4\artcu" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8095/VerificationCodeManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountVerificationManager"
                contract="VerificationCodeManagerServiceReference.IAccountVerificationManager"
                name="NetTcpBinding_IAccountVerificationManager">
                <identity>
                    <userPrincipalName value="SURFACE\eugen" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8091/AccountManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IAccountManager" contract="AccountManagerServiceReference.IAccountManager"
                name="NetTcpBinding_IAccountManager">
                <identity>
                    <userPrincipalName value="SURFACE\eugen" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>